header {
    display: flex;
    background-color:lightgray;
    justify-content: flex-end;
}

#burger {
    text-decoration: none;
    margin-right: 5px;
}

#menu {
    display: none;
    /* Add the menu design here */
}

#numbers {
    display: none;
}